body {
    font-family: $main-font-regular;
    font-size: $font-size;
    line-height: $font-size;
    color: $black;
}

h1 {
    @include titles(26px, 26px, 30px);
}

h2 {
    @include titles(52px, 48px, 15px);
}

h3 {
    @include titles(40px, 30px, 25px);
}

h4 {
    @include titles(26px, 26px, 20px);
}


a {
    color: $black;
}

figure {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.bg-green {
    background-color: $green;
}

.bg-mauve {
    background-color: $mauve;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &.center {
        text-align: center;
    }
}

.main-container-fullwidth {
    width: 100%;
    margin: 0 auto;

    &.center {
        text-align: center;
    }
}

.section-header{
    padding-top: 100px;
}

.column-container {
    @include display-flex($gutter, center);

    .col {
        flex-basis: calc( 25% - $gutter);
    }
}

.col-2 {
    @include display-flex(15px, space-between);

    .col {
        flex-basis: calc( 50% - 15px);
    }
}

.col-3 {
    @include display-flex(20px, space-between);

    .col {
        flex-basis: calc( 33.3% - 20px);
    }
}
