body {
    font-family: $main-font-regular;
    font-size: $font-size;
    line-height: $font-size;
    color: $black;
}

h1 {
    @include titles(26px, 26px);
}

h2 {
    @include titles(48px, 48px);
}

h3 {
    @include titles(30px, 30px);
}

h4 {
    @include titles(26px, 26px);
}

a {
    color: $black;
}

figure {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ccc;

    &.center {
        text-align: center;
    }
}

.column-container {
    @include display-flex($gutter);

    .col {
        flex-basis: calc( 25% - $gutter);
    }

    @media screen and (max-width: $mobile-breakpoint)  {
        flex-direction: column;
        padding: 0 20px;
    }
}


