@font-face {
    font-family: 'robotoregular';
    src: url('../../assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../../assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../../assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair-displaybold';
    src: url('../../assets//fonts/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('../../assets//fonts/playfairdisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'playfair-display-regular';
    src: url('../../assets/fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('../../assets/fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('../../assets/fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitolight';
    src: url('../../assets/fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsbold';
    src: url('../../assets/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinsregular';
    src: url('../../assets/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinslight';
    src: url('../../assets/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../../assets/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
