
@mixin titles($font-size, $line-height, $margin-bottom) {
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
    font-family: $secondary-font-regular;
}
    

@mixin display-flex($gap) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: $gap;

    @media screen and (max-width: $mobile-breakpoint)  {
        flex-direction: column;
        padding: 0 20px;
    }
}