
@mixin titles($font-size, $line-height, $margin-bottom) {
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
    font-family: $secondary-font-bold;
}
    

@mixin display-flex($gap, $justify-content) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: row;
    gap: $gap;

    @media screen and (max-width: $mobile-breakpoint)  {
        flex-direction: column;
        padding: 0 20px;
    }

    .col {
        @media screen and (max-width: $mobile-breakpoint)  {
            flex-basis: 100%;
        }
    }
}