$secondary-font-regular: 'playfair-display-regular';
$secondary-font-bold: 'playfair-displaybold';
$main-font-regular: 'poppinsregular';
$main-font-bold: 'poppinsbold';
$main-font-light: 'poppinslight';

$poppins-regular: 'poppinsregular';
$poppins-light: 'poppinslight';
$poppins-bold: 'poppinsbold';

$nunito-regular: 'nunitoregular';
$nunito-light: 'nunitolight';
$nunito-bold: 'nunitobold';

$font-size: 16px;
$line-height: 26px;
$gutter: 20px;
$mobile-breakpoint: 768px;

$green:#bae8d4;
$mauve:#e7cbef;
$black: #00211a;
$white: #fff;
$darkpurple:#201124;
