@import "../../assets/scss/styles.scss";

.bg-multicolor {
    height: 400px;

    background-image: url('../../assets/img/bg-image.png');
    background-position: center; 
    background-size: cover; 

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}