@import "../../assets/scss/styles.scss";

.main-header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 11;
  top: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.navbar {
  font-family: $main-font-regular;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: black;
    transition: all ease 0.4s;

    &:hover {
      font-family: $main-font-bold;
    }
  }
  .logo {
    width: 120px;
    left: 0;
    right: 0;
    top: 2px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;

    @media screen and (max-width: $mobile-breakpoint) {
      width: 100px;
    }
  }

  .submenu-container {
    position: relative;

    &:hover {
      .submenu {
        display: block;
      }
    }

    .submenu {
      position: absolute;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
      padding: 10px 10px 20px 20px;
      height: auto;
      width: 150px;
      display: none;

      li {
        height: 30px;
      }
    }
  }

  .right-menu {
    img {
      width: 30px;
    }
  }

  .cart-counter {
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    top: -5px;
    right: -10px;
    color: $white;
    background: red;
    border-radius: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;

    &::after {
      content: attr(data-counter);
    }
  }

  .container-link {
    position: relative;
  }
}
