@import "../assets/scss/styles.scss";

form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label{
    color: rgb(183, 183, 183);
}

input{
    height: 30px;
    padding: 20px 20px 20px 10px;
    margin: 10px 0 30px 0;
    border: 2px solid black;
    border-radius: 10px;
}

textarea{
    height: 100px;
    padding: 10px;
    margin: 10px 0 30px 0;
    border: 2px solid black;
    border-radius: 10px;
}

.button{
    width: 30%;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    transition-duration: 0.4s;
    background-color: $mauve;

    &:hover{
        background-color: $darkpurple;
        color: $mauve;
    }
}