@import "../../assets/scss/styles.scss";

.carrusel-container {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  aspect-ratio: 2/1;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  width: 100%;
}

.slides > div > img {
  width: 100%;
  height: 100%;
}

.slider-container {
  display: inline-block;
}
