@import "../../assets/scss/styles.scss";

footer {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
  }

  .social-media-container img {
    width: 3vw;
  }

  .social-media-container img:hover {
    box-shadow: 5px;
    color: white;
  }
  
  .copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:small;
  }
  
  .links:hover {
    color: white;
  }
  
  .private {
    display: flex;
    gap: 20px;
  }
  