@import '../../assets/scss/styles.scss';

.section-header{
    display: flex;
    align-items: center;
    justify-content: center;


    h2{
        margin-top: 100px;
        margin-bottom: 80px;
    }
}

.col-2-aboutus{
    @include display-flex(0,space-between);

    .col {
        flex-basis: 50%;

        &.fullwidht{
            flex-basis: 50%;
            padding: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: $mobile-breakpoint)  {
                padding: 40px 20px;
            }
        }
    }
}
